<app-navbar></app-navbar>

<!--Muestra tareas-->
<div style="margin: 40px;">

    <button type="button" class="btn btn-primary" (click)="NuevaTarea()" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
        + Nueva Tarea
    </button>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha</th>
                <th scope="col">Descripción</th>
                <th scope="col">Proceso Realizado</th> <!--Eliminar esta columna y agregar -->
                <th scope="col">Creada Por:</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarea of tareas" (click)="EditarTarea(tarea.idTarea)" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                <th scope="row">{{tarea.idTarea}}</th>
                <td>{{tarea.date}}</td>
                <td>{{tarea.descripcion}}</td>
                <td>{{tarea.detallesproceso}}</td>
                <td>{{tarea.idusuariocreador}}</td>
                <td>{{tarea.estado}}</td>
            </tr>
        </tbody>
    </table>
</div>