<app-navbar></app-navbar>

<div class="container" style="margin-top: 25px;">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form [formGroup]="tareaForm" class="row g-3 needs-validation" (ngSubmit)="postForm(tareaForm)">
                <div class="col-md-12">
                    <label for="validationCustom01" class="form-label">Descripción</label> <br>
                    <textarea class="form-control" id="validationCustom01" rows="4" formControlName="descripcion"
                        required></textarea>
                    <br>

                    <!--Multiple select de usuario-->
                    <label for="usuarios" class="form-label">Selecciona los usuarios</label> <br>
                    <select id="usuarios" formControlName="idusuariocreador" size="4" multiple style="width: 28em;">
                        <option *ngFor="let usuario of usuarios" [value]="usuario.idusuario">{{ usuario.nombre }}
                        </option>
                    </select>

                    <br><br>
                    <input class="btn btn-primary" type="submit">
                </div>
            </form>
        </div>
    </div>
</div>